<nav class="navbar">
    <div class="navbar-brand">Algorithms Visualizer</div>
    <ul class="navbar-links">
      <li><a routerLink="/sorting" routerLinkActive="active">Sorting</a>
        <ul class="dropdown">
          <li><a routerLink="/quick-sort" routerLinkActive="active">Quick Sort</a></li>
          <li><a routerLink="/sorting/merge-sort" routerLinkActive="active">Merge Sort</a></li>
          <li><a routerLink="/sorting/heap-sort" routerLinkActive="active">Heap Sort</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/searching" routerLinkActive="active">Searching</a>
        <ul class="dropdown">
          <li><a routerLink="/searching/binary-search" routerLinkActive="active">Binary Search</a></li>
          <li><a routerLink="/searching/linear-search" routerLinkActive="active">Linear Search</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/graph" routerLinkActive="active">Graph</a>
        <ul class="dropdown">
          <li><a routerLink="/graph/dfs" routerLinkActive="active">DFS</a></li>
          <li><a routerLink="/graph/bfs" routerLinkActive="active">BFS</a></li>
          <li><a routerLink="/graph/dijkstra" routerLinkActive="active">Dijkstra's Algorithm</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  